<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XCode Practice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AE00689B1F2948A3001FC862</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE0068AF1F2948A4001FC862</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE0068BA1F2948A4001FC862</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
